<div class="container">
  <div class="card-container">
    <app-card
      [cardTitle]="'Total Income'"
      [cardContent]="totalIncome.toString()"
      class="Income"/>
    <app-card
      [cardTitle]="'Total Outcome'"
      [cardContent]="totalOutcome.toString()"
      class="Outcome"/>
  </div>
  <div class="card-container">
    <app-card
      [cardTitle]="'Balance'"
      [cardContent]="latestBalance.toString()"
      class="balance"/>
    <app-minister-card
      [cardTitle]="'Minister of Finance'"
      [imgContent]="'assets/aldrian.png'"
      [cardContent]="'Aldrian'"
      class="minister"/>
  </div>
</div>
