<app-header-comp/>
<div class="container">
  <div class="card-container">
    <app-card
      [cardContent]="totalIncome.toString()"
      [cardTitle]="'Total Income'"
      class="Income"/>
    <app-card
      [cardContent]="totalOutcome.toString()"
      [cardTitle]="'Total Outcome'"
      class="Outcome"/>
  </div>
  <div class="card-container">
    <app-card
      [cardContent]="latestBalance.toString()"
      [cardTitle]="'Balance'"
      class="balance"/>
    <app-minister-card
      [cardContent2]="'21560010'"
      [cardContent]="'Aldrian Aryapramestu'"
      [cardTitle]="'Minister of Finance'"
      [imgContent]="'assets/aldrian.png'"
      class="minister"/>
  </div>
</div>
<div class="container2">
  <app-tab-view></app-tab-view>
</div>
<footer>
  <div class="footer">
    <span>Himpunan Mahasiswa Ilmu Komputer</span>
    <span>Universitas Tama jagakarsa</span>
  </div>

</footer>



